.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

button {
  text-align: center;
  padding: 6px 12px;
  color: #fff;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 2px;
  transform: translateX(20px);
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
